<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="container">
        <div class="row">
            <form  action="/edit-data" method="POST" width:100%>
                <div class="col-12">
                    <div class="row">    
                        <div class="col-md-4">
                            <h5>Num</h5>
                            <input type="number" name="updatedNum">
                        </div>
                        <div class="col-md-4">
                            <h5>Name</h5>
                            <input type="text" name="updatedName">
                        </div>
                        <div class="col-md-4">
                            <h5>E-Mail</h5>
                            <input type="email" name="updatedMail">
                        </div>
         
                        <button class="btn btn-block btn-info mx-5 mt-5" type="submit">Update</button>
                    </div> 
                </div>
            </form> 
        </div>
    </div>
<%- include('../includes/end.ejs') %>
